:root{
    /* 
    DEFAULT: #352f36 
    */
    --text: #352f36;
    --text2: #cbc5cc;
    --background: #ffe8d5;
    --background2: #d4c4b6;
    --primary: #bfac9c;
    --primary2: #bfac9c3d;
    --secondary: #514942;
    --accent: #000000;
}
.darkmode{
    --text: #352f36;
    --background: #ffe8d5;
    --background2: #2b2b2b;
    --primary: #bfac9c;
    --primary2: #bfac9c3d;
    --secondary: #514942;
    --accent: #000000;
}