body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--background);
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}