.site-header{
    box-sizing: border-box;
    position: sticky;
    display: grid;
    top: 0;
    width: 100vw;
    height: 10vh;
    gap: 1rem;
    grid-template-columns: 1fr repeat(9, auto);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--primary2);
    backdrop-filter: blur(10px);
    border: 1px solid var(--primary);
    place-items: center;
    z-index: 1000;
}
.site-header #logo{
    display: flex;
    min-width: 100px; 
    height: auto;
    justify-self: start;
}
.site-header a{
    display: flex;
    position: relative;
    color: var(--text);
    font-family: Outfit;
    font-size: 1.2rem;
    padding: 0;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 895px) {
        display: none;
    }
}
.site-header a:not(:hover)::after, 
.hamburger a:not(:hover)::after{
    width: 0%;
}
.site-header a::after, .hamburger a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--text);
    transition: all 0.3s ease-in-out;
}
.site-header a:first-child{
    justify-self: start;
}
.site-header button{
    position: sticky;
    display: none;
    top: 3vw;
    right: 0;
    border-style: solid;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;

    @media (max-width: 895px) {
        display: flex;
        grid-column: -1;
    }
}
.container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
}
.container .hamburger{
    overflow: hidden;
    box-sizing: border-box;
    position: sticky;
    display: none;
    top: 10vh;
    margin-top: -12vh;
    width: 100vw;
    opacity: 1;
    height: 60vh;
    right: 0;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
    justify-self: end;
    background-color: var(--primary2);
    backdrop-filter: blur(10px);
    border: 1px solid var(--primary);
    transition: all 0.7s ease-out;
    z-index: 1000;
    
    @media (max-width: 895px) {
        display: grid;
    }
}
.container .hidden{
    width: 0px;
    opacity: 0;
}
.container .hamburger a{
    display: flex;
    position: relative;
    color: var(--text);
    font-family: Outfit;
    font-size: 1.2rem;
    text-wrap: nowrap;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}