/* 
image:
title:
description: 
*/

.component-box_container {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-rows: subgrid;
    background-color: var(--background);
    border: 1px solid var(--primary2);
    font-family: Outfit;
    grid-row: span 3;
}
.component-box_container .image{
    height: 400px;
    width: 100%;
    background-image: var(--image_src);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.component-box_container .title{
    text-align: center;
    font-size: 2rem;
}
.component-box_container .description{
    text-align: center;
    font-size: 1.2rem;
}

/* ^^^ COMPONENT 1 ^^^ */

/* 
title:
big_box
small_box
*/

.component-box_container_small_box_image_preview{
    position: relative;
    display: flex;
    gap: 4rem;
    padding: 2rem;
    font-family: Outfit;
    font-size: 2rem;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--primary2);
    border-bottom: 2px solid var(--primary2);
    background-color: var(--background);

    @media (max-width: 1260px) {
        flex-direction: column;
        align-items: start;
    }
}
.component-box_container_small_box_image_preview .image{
    position: absolute;
    right: 5vw;
    opacity: 0;
    display: flex;
    width: 30vw;
    height: 0px;
    background-image: var(--image_src);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}
.component-box_container_small_box_image_preview:hover .image{
    visibility: visible;
    opacity: 1;
    height: 300px;
} 
.component-box_container_small_box_image_preview .title{
    color: var(--text);
}
.component-box_container_small_box_image_preview .comment{
    font-size: 1.2rem;
    color: var(--primary);
}

/* ^^^ COMPONENT 2 ^^^ */
/* 
single line contianer with image preview
*/
/* 
title:
comment: 
image:
*/

.component-box_container_big{
    overflow: hidden;
    --image_height: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 800px));
    place-items: center;
    transition: all 0.3s ease-in-out;
}
.component-box_container_big:not(:hover){
    filter: grayscale();
}
.component-box_container_big:hover .image{
    background-size: 115%;
}
.component-box_container_big .image{
    height: var(--image_height);
    width: 100%;
    transform: scale(1.0);
    background-image: var(--image_src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    transition: all 0.3s ease-in-out;
}
.component-box_container_big .title{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary2);
    backdrop-filter: blur(10px);
    padding-bottom: 1rem;
    text-align: center;
    font-family: Outfit;
    font-size: 2rem;
}
.component-box_container_big .author{
    background-color: var(--primary2);
    backdrop-filter: blur(10px);
    bottom: 0;
    text-align: center;
}

/* ^^^ COMPONENT 3 ^^^ */


.component-carousel{
    display: flex;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.component-carousel .item{
    overflow: hidden;
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 1rem;
    width: 100%;
    left: 0;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    background-color: var(--background);
    transition: all 1s ease-in-out;
    grid-template-areas: 
    ". image ."
    "title image description"
    ". image ."
    ;

    @media (max-width: 1260px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        grid-template-areas: 
        "image image"
        "title description"
        ;
    }
}
.component-carousel .item:not(:first-child){
    visibility: hidden;
    width: 0;
    left: 100%;
    opacity: 0;
}
.component-carousel .item .title{
    grid-area: title;
    align-content: center;
    margin-left: 100px;
}
.component-carousel .item .image{
    grid-area: image;
    margin: 4rem;
    background-image: var(--image_src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: darken;
}
.component-carousel .item .description{
    grid-area: description;
    align-content: center;
    margin-right: 100px;
    @media (max-width: 1260px) {
        margin-right: 0px;
        margin-left: 100px;
    }
}
.component-carousel_hidden{
    opacity: 0;
    left: 100%;
}

/* COPY PASTE
<div class="carousel_container">
    <div class="component-carousel" id="carousel">
        <div class="item">
            <div class="title"></div>
            <div class="image" style="--image_src: url();"></div>
            <div class="description"></div>
        </div>
        <div class="item">
            <div class="title"></div>
            <div class="image" style="--image_src: url();"></div>
            <div class="description"></div>
        </div>
    </div>
</div>
<div class="nextbutton" onclick="nextbtn()">NEXT</div> <!-- ABSOLUTE -->
<div class="prevbutton" onclick="prevbtn()">PREV</div> <!-- ABSOLUTE -->
*/

/* ^^^ COMPONENT 4 ^^^ */