.site{
    display: flex;
    flex-direction: column;
    --hero_height: 200vh;
}
.site .hero_container{
    top: 10vh;
    left: 0;
    width: 100vw;
    height: var(--hero_height);
}
.site .hero_container .hero_track{
    overflow: clip;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.site .hero_container .hero_track .hero{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../../img/hero-img3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
    animation: scroll-grayscale;
    animation-timeline: view();
}
@keyframes scroll-grayscale {
    0%,30%{
        filter: grayscale(1);
        transform: scale(1.0);
    }
    100%{
        filter: grayscale(0);
        transform: scale(1.1);
    }
}
.site .hero_container .hero_track .hero H1{
    font-family: Outfit;
    font-size: 10vw;
    color: var(--primary2);
    background-color: var(--primary2);
    background-clip: text;
    backdrop-filter: blur(10px);
    border-radius: 50px;

}
.site .nav_container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}
.site .nav_container .nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site .nav_container .nav{
    background-color: var(--primary2);
}
.site .nav_container .nav ul{
    cursor: pointer;
    width: 200px;
    font-family: Outfit;
    font-size: 2rem;
    padding: 0;
    text-align: center;
    color: var(--text);
    z-index: 11;
}

.site .content_container{
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}
.site .content_container h1{
    font-family: Outfit;
    color: var(--text);
    font-size: 4rem;
}
.site .content_container .content_trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    transition-behavior: allow-discrete;
    padding-bottom: 5vh;
}
.site .content_container .content_trending .container{
    position: relative;
    width: 100%;
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    grid-template-rows: auto auto auto;
    gap: 2rem;
}
/* COMPONENT */
.site .content_container .content_news{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--background);
    transition: all 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}
/* COMPONENT */
.site .content_container .content_news .container{
    position: relative;
    width: 100%;
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    grid-template-rows: auto auto auto;
    gap: 2rem;
}
.site .content_container .content_discussions{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}
.content_hidden{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

